<main class="container flex-center-all">
    <form method="POST">
      <fieldset>
        <h1>Registro de Usuario</h1>
        <p><i>A modo de ejemplo, usar la siguiente dirección de e-mail con cualquier contraseña: <b>eve.holt@reqres.in
        </b></i></p>
        <input [(ngModel)]="email" type="email" name="email" class="form-control mt-3" placeholder="Email" required autocomplete="off">
        <input [(ngModel)]="password" type="password" name="password" class="form-control mt-3" placeholder="Contraseña" required autocomplete="off">
        <input [(ngModel)]="confirmarPass" type="password" name="password" class="form-control mt-3" placeholder="Repetir Contraseña" required autocomplete="off">
        <button type="submit" (click)="register()" class="btn btn-success mt-3">Registrarse</button>
      </fieldset>
    </form>
</main>